# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright © 2025 Erez Geva <ErezGeva2@gmail.com>
#
# @author Erez Geva <ErezGeva2@@gmail.com>
# @copyright © 2025 Erez Geva
#
###############################################################################
# Generic files
*.o
*.d
.sw?
.*.sw?
/tags
/csptp.a
/csptp_client
/csptp_service
/utest/utest
/libsys/libsys.so
